.Decoratingp{
    width:300px;
    height: 300px;
}
.flowerp{
    width:350px;
    height: 300px;
}
.medicalp{
    width:300px;
    height: 300px;
    
}

.picture_bar{
    margin-top:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    flex:direction row;
    gap:200px;
    height:100px;
}
.mainimage{
    display: flex;
    width:500px;
    height:1000px;
}


.button_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button_btn{
    margin:10px;
    padding: 10px;
    border-radius: 8px;
    border:none;
    background-color: chartreuse;
    
}