.plantimage{
    height:60px;
    width:60px;
    
}
.Smile{
    height:20px;
    width:20px;
}
.trophy{
    height:20px;
    width:20px;
}

.thinking{
    height:20px;
    width:20px;
}
.vision{
    height:20px;
    width:30px;
}
.mainNav{
    padding:200px;
}