.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.form-field{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid #2A2A2A;
}
.form-container label{
    font-size: 12px;
}
.form-container{
    max-width: 420px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-form{
    padding: 10px;
    background-color:chartreuse;
    border:none;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}