.Nav_Components{
    display:flex;
    justify-content:space-between;
    padding-right: 30px;
    align-items: center;
    flex-wrap:wrap;
    flex:direction row;
    text-align:center;
    background-color:green;
    margin:20px;
    border-radius:20px;
}
.Navelemnts{
    color:White;
}
.logo{
    height:20px;
    width:50px;
}

